<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="">Inicio</a></li>
                <li><a href="">Los Mas Populares</a></li>
                <li><a href="">Categoria Juego</a></li>
                <li><a href="">Categoria Prototipo</a></li>
                <li><a href="">Discuciones</a></li>
                <li><a href="">Juegos Aprovados</a></li>
            </ul>
        </div>
    </div>
</div>